<html>
<head>
<style>
</style>
<title>課題トップ</title>
<%= stylesheet_link_tag "application", :media => "all" %>
</head>


<body>

<table>
	<tbody>
		<tr>
			<td>Title:</td>
			<td><%= @post.title %></td>
		</tr>
		<tr>
			<td>Body:</td>
			<td><%= @post.body %></td>
		</tr>
	</tbody>
</table>

<%=link_to "Edit", edit_post_path(@post) %>|<%=link_to "Back", posts_path %>



</body>
</html>